<h2>
  <%= user.name %>'s Dashboard </h2>

<ul>
  <li> <a href="/launderers"> Find a Launderer </a> </li>
  <li> <a href="/logout"> Log Out </a> </li>
</ul>

<h2>Your scheduled pickups</h2>

<ul>
  <% pickups.forEach(pickup => { %>
    <li class="<%= pickup.status %>">
      (<%= pickup.status %>) Pickup
        <strong>
          <%= moment(pickup.date).fromNow() %>
      </strong>
        <%= user.isLaunderer ? 'for' : 'by' %>
          <i><%= user.isLaunderer ? pickup.user.name : pickup.launderer.name %></i>
      <% if (user.isLaunderer) { %>
      <form action="launderers/<%=pickup.launderer%>/pickups/status" method="post">
        <input type="hidden" value="accepted">
        <button>Accept</button>
      </form>
      <form action="launderers/<%=pickup.launderer%>/pickups/status" method="post">
        <input type="hidden" value="rejected">
        <button>Reject</button>
      </form>
      <% } %>
    </li>
    <% }) %>
</ul>


<% if (user.isLaunderer) { %>
  <h3> Launderer panel </h3>

  <form action="/launderers" method="post">
    <div>
      <label for="fee-input"> Set your fee </label>
      <input type="number" name="fee" id="fee-input" value="<%= user.fee %>">
    </div>

    <button>Save</button>
  </form>
  <% } %>